<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ApplicationErrorRecipient" value="user@email.com"/>
		<add key="ApplicationContact" value="user@email.com"/>
		<add key="SmtpServer" value="localhost"/>
		<add key="loginInfoCookie" value="localhost"/>
		<add key="encryptionKey" value="cdf3fds3"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="server=XWLDPDF;database=EvaluationDB;uid=XCD_User;pwd=C#jdf@!**K#DF" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<sessionState mode="InProc" timeout="240"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<trace enabled="true" requestLimit="50"/>
		<customErrors mode="RemoteOnly" defaultRedirect="~/eval/timeout.aspx"/>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/eval/default.aspx" defaultUrl="~/eval/evaluation.aspx" protection="All" timeout="600" path="/"/>
		</authentication>
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
				<add tagPrefix="SystemOperationsEvaluationUtils" namespace="SystemOperationsEvaluation.Domain.Utilities" assembly="SystemOperationsEvaluation.Domain"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2010.1.309.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4"/>
		</handlers>
	</system.webServer>
</configuration>